<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication666">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/background4"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication666"
        android:name=".database.App">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>

        <activity android:name=".ui.modules.emotional_regulation.CreateExerciseActivity"/>
        <activity android:name=".ui.modules.interpersonal_effectiveness.CreateInterpersonalExercise"/>
    </application>

</manifest>